.footer-main-container{
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 95%;
    margin: 5px;
    height: 10rem;
    background: linear-gradient(90deg, #000000, #464646);
    align-items: center;
}
.footer-aboutMe, .footer-contact{
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: none;
    float: left;
    width: 50%;
    padding-top: 20px;

}

.footer-aboutMe-content{
    border-top: solid 1px rgb(255, 255, 255);
    padding-top: 10px;
    font-size: 13px;
    color: #666666;
    justify-content: center;
    margin: none;
}
