*{
    margin: none;
    padding: none;
}
.footer-wrapper{
    display: flexbox;
    margin: 5px;
    height: 10rem;
    background-color: #26272b;
    justify-content: center;
}
.footer-aboutMe-container

.footer-aboutMe{
    border-top: solid 1px gray;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: none;
}

.footer-contact{
    border-top: solid 1px gray;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: none;
}